#root {
	width: 100%;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline: 2rem;
}

a:not([data-active]) > span {
	color: #a9a9a9;
	cursor: pointer;
	transition: color 0.3s ease;
}

a:not([data-active]):hover > span {
	color: #ffffff;
}

a[data-active] > span {
	color: #ffffff;
	font-weight: bold;
}

.lightning-btn {
	align-items: center;
	background: #1b1b1b;
	border-radius: 8px;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: var(--tracking-tighter);
	gap: 12px;
	padding: 12px 16px;
	position: relative;
	transition: all 0.3s ease;
	width: fit-content;
}

.lightning-btn:hover {
	background: #2b2b2b;
}

.border-mask {
	border-radius: 12px;
	height: calc(100% + 4px);
	left: -2px;
	mask:
		linear-gradient(#000 0 0) content-box,
		linear-gradient(#000 0 0) border-box;
	mask-composite: exclude;
	opacity: 0;
	padding: 4px;
	pointer-events: none;
	position: absolute;
	top: -2px;
	width: calc(100% + 4px);
}

.border-glow {
	background: conic-gradient(
		from 0deg,
		transparent 0%,
		#3b82f6 10%,
		#22d3ee 15%,
		transparent 20%
	);
	height: 500px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%);
	width: 500px;
	will-change: transform;
}

@keyframes rotateShine {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes rotateShineOnce {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
		opacity: 0;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (hover: none) {
	.lightning-btn > .border-mask {
		opacity: 1;
	}

	.lightning-btn .border-glow {
		animation: rotateShineOnce 2s linear 0.5s forwards;
	}
}

@media (width >= 40rem) {
	.lightning-btn:hover > .border-mask {
		opacity: 1;
	}

	.lightning-btn:hover .border-glow {
		animation: rotateShine 2s linear infinite;
	}
}
