@import 'tailwindcss';
@import '@radix-ui/themes/styles.css' layer(components);

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
